*{margin: 0;padding: 0;outline:0;}
html,body{font:14px arial,'microsoft yahei',"\5B8B\4F53",sans-serif;background-color: #f3f3f3;}
i,em{font-style: normal;}
a{text-decoration: none;}
a:hover{transition:all .3s;}
li{list-style: none;}
.dn{display: none;}
.fl{float: left;}
.fr{float: right;}
.clear:after{content:"";clear:both;height:0;display: block;}
.wordercut{text-overflow:ellipsis;overflow: hidden;white-space: nowrap;word-wrap:normal;}

.student-login{width:300px;margin: 200px auto;}
.student-title{line-height:40px;font-size:24px;font-weight:bold;text-align: center;color: #6c6e71;}
.student-login-box{width:100%;}
.student-login-top{width:100%;height:40px;line-height:40px;background-color: #DDD;border-radius:10px 10px 0 0;color: #6f5353;margin: 15px 0;overflow: hidden;}
.student-login-top span{width:50%;float: left;text-align: center;cursor: pointer;box-sizing:border-box;font-size:16px;}
.student-login-top span.on{background-color: #1ab395;color: #fff;}
.student-login-top span:first-child{border-right:0px solid #cec3c3;}
.student-login-top span:hover{background-color: #1ab395;color: #fff;}
.student-l,.student-r{width:100%;}
.student-comin li{line-height:35px;margin-bottom: 20px;}
.student-comin li input{height:35px;line-height:35px;padding-left: 20px;width:100%;border:0;box-sizing:border-box;border:1px solid #fff;border-radius:2px;}
.student-comin li input.on{border:1px solid #1ab395;}
.student-r li input.yzm{width:150px;}
.student-r li .hqyzm{width:145px;height:35px;line-height:35px;font-size:40px;background-color:#1ab395;color: #fff;text-align: center;display: inline-block;cursor: pointer;}
.login,.reg{background-color: #1ab395;color: #fff;cursor: pointer;font-size:15px;}
.login:hover,.reg:hover{transition:all .3s;opacity:.7;}

.sd{position:fixed;top:0;right:0;bottom:0;left:0;background-color: #f3f3f3;}
.sd-l{position: absolute;top:0;left:0;bottom:0;width:220px;background-color: #2f4050;overflow: hidden;}
.sd-r{position: absolute;top:0;right:0;bottom:0;width:calc(100% - 220px);}
.sd-l-top{width:100%;text-align: center;background-color: #233645;padding: 20px 0;margin-bottom: 20px;}
.sd-l-top img{display:block;border-radius:50%;margin: 0 auto;}
.sd-l-top a{font-size:16px;color: #e0e8eb;line-height:30px;display: block;}
.sd-l-list{background-color: #233645;}
.sd-list-li{width:100%;border-left:5px solid #233645;}
.sd-list-li.on{border-left:5px solid #1ab395;padding-bottom: 20px;}
.sd-list-li .sd-list-title{width:100%;line-height:40px;font-size:15px; color: #fff;display:inline-block;padding-left: 20px;box-sizing:border-box;}
.sd-list-li ul li{line-height:30px;padding-left: 30px;box-sizing:border-box;}
.sd-list-li ul li a{color: #9b9dc4;display: block;width:100%;height:30px;font-size:13px;}
.sd-list-li ul li.on{background-color:#2f4050;}
.sd-list-li ul li.on a{color: #fff;}
.sd-list-li ul li:hover{background-color:#2f4050;}
.sd-list-li ul li:hover a{color: #fff;}
.icon-sz{width:32px;height:32px;background:url(../image/icon.png) no-repeat -32px 0;float: left;margin-top: 4px;}
.icon-fx{width:32px;height:32px;background:url(../image/icon.png) no-repeat -96px 0;margin-top: 4px;float: right;margin-right:10px;cursor: pointer;}
.icon-fx.on{background:url(../image/icon.png) no-repeat -96px -32px;}
.icon-add{width:30px;height:30px;background:url(../image/icon.png) no-repeat -64px -32px;float: left;margin-right:8px;}
.icon-list{width:30px;height:30px;background:url(../image/icon.png) no-repeat 0  -32px;float: left;margin-right:8px;}
.sd-list-li ul li.on i.icon-add{background:url(../image/icon.png) no-repeat -64px 0;}
.sd-list-li ul li.on i.icon-list{background:url(../image/icon.png) no-repeat 0 0;}
.sd-list-li ul li:hover i.icon-add{background:url(../image/icon.png) no-repeat -64px 0;}
.sd-list-li ul li:hover i.icon-list{background:url(../image/icon.png) no-repeat 0 0;}
.sd-r-box{padding: 20px;}
.sd-r-top{width:100%;height:60px;border-bottom:2px solid #2f4050;}
.sd-r-bottom{margin: 20px;background-color: #fff;border-top:5px solid #e9e9e9;}
.sd-r-title{line-height:50px;color: #676968;border-bottom:1px solid #ddd;padding-left: 20px;font-weight:600;}
.sd-box-opt{height:50px;margin-bottom: 20px;}
.sd-opt-l{margin: 8px 0;overflow: hidden;}
.sd-opt-l span{width:32px;height:32px;float: left;border:1px solid #a8adaa;cursor: pointer;}
.sd-opt-l span:hover{transition:all .3s; opacity:.7;}
.sd-opt-l span.opt-add{border-right:0;background:url(../image/icon.png) no-repeat -128px 0;}
.sd-opt-l span.opt-del{background:url(../image/icon.png) no-repeat -128px -32px;}
.sd-opt-r{margin: 7.5px 0;}
.sd-opt-r input{width:200px;height:35px;line-height:35px;box-sizing:border-box;padding-left: 20px;border:1px solid #a8adaa;float: left;border-radius:3px 0 0 3px;}
.sd-opt-r .search{height:35px;line-height:35px; padding: 0 15px;background-color:#a8adaa;color: #fff;float: left;cursor: pointer;border-radius:0 3px 3px 0;}


/*.sd-center-add{padding: 20px;}*/
.sd-center-add li{height:40px;line-height:40px;color: #666;margin-bottom: 15px;}
.sd-center-add li label{margin-right: 20px;}
.sd-center-add li input{min-width:250px;height:30px;line-height:30px;padding-left: 20px; border:1px solid #ddd;}
.sd-center-add .submit{height:30px;line-height:30px;padding: 0 18px;background-color:#1ab395;color: #fff;border-radius:2px;display: inline-block;cursor: pointer;}

.sd-box-center{padding: 0;}
.sd-box-center table{border:1px solid #ddd;width:100%;color: #666;font-weight:normal;border-collapse:collapse;margin-bottom: 20px;}
.sd-box-center table thead{height:48px;line-height:48px;background-color:#f7f7f7;}
.sd-box-center table thead tr th{border-bottom:1px solid #ddd;border-right:1px solid #ddd;font-size:14px;}
.sd-box-center table thead tr th select{padding: 0 12px;height:30px;}
.sd-box-center table tbody tr{line-height:40px;text-align: center;border-bottom:1px solid #ddd;background-color: #fff;}
.sd-box-center table tbody tr td{border-style:none;border-bottom:1px solid #ddd;border-right:1px solid #ddd;font-size:13px;}
.sd-box-center table tbody tr td a{color:#1ab395;cursor: pointer;padding: 5px 15px;}
.sd-box-center table tbody tr td a:hover{color:#0b7762;}
.studio-table-page{height:40px;line-height:40px;}
.studio-table-page a{height:30px;line-height:30px;padding: 0 12px;border:1px solid #ddd;margin-right: 5px;display: inline-block;border-radius:3px;color:#1ab395;}
.studio-user{position: relative;}
.studio-user:hover .studio-user-edit{display: block;transition:all .3s;}
.studio-user-edit{width:100px;position: absolute;right:-5px;background-color: #fff;border-radius:3px;border:2px solid #eee;padding: 10px;box-shadow:0 6px 12px rgba(0,0,0,.175);}
.studio-user-edit a{display:block;line-height:25px;color: #333;text-align: center;}
.studio-user-edit a:hover{color: #666;background-color: #eee;}
